body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fce7db;
  color: #7a2f1f;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(to right, #8b3a20, #b35434);
  padding: 1em;
}
nav a {
  color: #fff1e6;
  text-decoration: none;
  font-weight: bold;
}
nav a.active {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin: 1rem 0;
  text-shadow: 1px 1px #a44732;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 0.75em;
  width: 300px;
  border: none;
  border-radius: 999px;
  background: linear-gradient(to right, #8b3a20, #b35434);
  color: white;
}
input::placeholder {
  color: #f5d6cb;
}

button {
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 999px;
  background-color: #b23a48;
  color: #fff1e6;
  font-weight: bold;
  cursor: pointer;
}

#map {
  height: 500px;
  width: 90%;
  max-width: 900px;
  margin: 1rem auto;
  border: 3px solid #b23a48;
  border-radius: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
}
